*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    font-family: Helvetica, sans-serif;
    .palette{
        width: 300px;
        background-color: white;
        margin: 15px;
        border: 1px solid rgba($color: #b3b3b3, $alpha: 0.3);
        box-shadow: 0px 2px 6px rgba($color: #b3b3b3, $alpha: 0.3);
        padding: 15px;
        display: flex;
        flex-flow: column;
        .colors{
            display: flex;
            .color{
                flex: 0 0 35px;
                height: 35px;
                cursor: pointer;
                &:hover{
                    border: 3px solid rgba($color: rgb(18, 18, 18), $alpha: 0.5);
                
                }
                margin: 5px;
            }
        }
        .codes{
            display: flex;
            flex-flow: column;
            .colorModels{
                display: flex;
                font-size: 80%;
                font-weight: bolder;
                color: #a2a2a2;
                div{
                    margin: 10px 2px;
                    cursor: pointer;
                    &.selected{
                        color: #434343;
                    }
                }
            }
            input{
                padding: 10px 15px;
                width: 100%;
                font-size: 110%;
                color: #a2a2a2;
            }
        }
    }
}
